body {
    background: #efefef;
    height: 100%;
    width: 100%;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.navbar {
    border-radius: 0px; 
}

.main-container{
    margin: auto auto;
    width: 500px;
    padding-top: 50px;
}

.icon-bar {
    height: 8px;
    width: 60px;
}

.feed {
    /*display: inline-block;*/
    width: 100%;
}

.post {
    background: #fff;
    padding:16px;
    margin-bottom:16px;
    font-family:sans;
    border-radius: 4px;
    font-size: 10px;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,.1);
}

.post .text {
    margin-top: 8px;
    font-size: 20px;
}

.post h5{
    font-size: 14px;
    margin: 0px;
}

.date{
    font-size:4px;
    color: #aaa;
}

.post textarea{
    resize: none;
    width: 100%;
    border: 1px solid #efefef;
    -webkit-user-drag: none;
    padding: 4px;
}

.side-nav {
    background: #fff;
    position: fixed;
    height: 80%;
    width: 20%;
    top: 50px;
    margin: 16px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0,0,0,.1);
}

.left-nav{
    left:0px;
}

.right-nav {
    right: 0px;
}

.textarea{
    resize:none;
}

.container {
    padding-top: 50px;
    width:100%;
}

.group_list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.group_list li{
    padding: 8px;
}

.group_list li:hover {
    background:  whitesmoke;
}

.group_list.selected {
    background: #16191a;
    color: white;
}
