<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>IUT Online</title>
	<!-- Core CSS - Include with every page -->
	{% load static %}
	<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/university.css' %}" rel="stylesheet">
	<link href="{% static 'css/calender.css' %}" rel="stylesheet">
	<link href="{% static 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
	<link href="{%  static 'favicon.ico' %}" rel="icon">

	<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script> 
	<script src="{% static 'js/script.js' %}"></script> 
	<script src="{% static 'jquery-ui/jquery-ui.js' %}"></script> 
	
	<script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
	
	{% block javascript %}
	<script>
		{% if not user.is_authenticated %}
			$("ul.nav.navbar-nav.navbar-right").css("display","none");
		{% endif %}
	</script> 
	{% endblock %}

	
</head>

<body>
	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                	</button>
					<a class="navbar-brand" href="{% url 'home' %}">Islamic University of Technology</a>
				</div>
				<from class="nav navbar-form col-lg-2">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for...">
						<span class="input-group-btn">
						<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>
					<!-- /input-group -->
				</from>
				<!-- /.col-lg-6 -->

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


					<ul class="nav navbar-nav">
						{% if perms.groups %}
						<li><a href="{% url 'admin:index' %}">Manage Board</a></li>
						{% endif %}
						<!--<li><a>An item2</a></li>-->
					</ul>
					{% if user %}
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" id="notifications" data-container="body" data-toggle="popover" data-placement="bottom" title="Notifications">
								<span class="glyphicon glyphicon-bell"></span> <span class="badge">3</span>
							</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								{{user.first_name}}
								<span class="glyphicon glyphicon-user"> </span>
                                <span class="caret"></span>
                            </a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{% url 'home' %}">home</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="{% url 'logout' %}">Logout</a>
								</li>
							</ul>
						</li>
					</ul>
					{%endif%}
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<div class="row">
			{% block left-nav %} {% endblock %} {% block content %} {% endblock %} {% block right-nav %} {% endblock %}
		</div>
	</div>


	<!-- Core Scripts - Include with every page -->


</body>

</html>
