{% extends 'base.html' %} 


{% block left-nav %} 

<div class="side-nav left-nav">
	<ul class="group_list">
		{% for group in groups %}
		<a href="{% url 'posts' group.pk %}">
			<li {% if group == current_group %} class="selected" {% endif %} >{{ group.name }}</li>
		</a>
		{% endfor %}
	</ul>
</div>

{% endblock %}

{% block content %}

<div class="col-md-6 col-md-offset-2">
	<div class="main-container">
		{% if user %}
		<div class="feed">
			
			{% if all_posts %} {% for post in all_posts %}
			<div class="post  {% if post.type != 'G' %} quiz {% endif %} ">
				<h5><a>{{ post.user.first_name}} {{post.user.last_name}}</a href="{% url 'posts' post.group.pk %}"> posted in <a>{{ post.group.name }}</a></h5>
				{% if post.type != 'G' %}
				<span style="color:coral;font-size:1.5em;" class="glyphicon glyphicon-star pull-right" ></span>
				{% endif %}
				</h5>
				<p class="date">{{ post.post_date }}</p>
				<p class="text">{{ post.body }}</p>
				
				<a class="btn-default"><i class="glyphicon glyphicon-chevron-up"></i> {{ post.like_cnt }}</a>
				<a class="btn-default"><i class="glyphicon glyphicon-chevron-down"></i> 6</a>
				<a id="comment" class="btn-default"><i class="glyphicon glyphicon-comment"></i> Comment</a>

				<div class="comments">
					<form  role="form" method="post" action="{% url 'comment' %}">
						{% csrf_token %}
						<input type="hidden" name="post" value="{{ post.pk }}">
						<input type="text" class="form-control input-md" placeholder="write a comment..." name="text" maxlength="255">
					</form>
					<ul>
					{% for comment in post.get_comments %}
						<li>
							<h5><a href="#">{{ comment.user.first_name}}</a><small> [{{ comment.date|date:"M d" }}] : </small>
							{{ comment.text }}
                            </h5>
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			{% endfor %} {% else %}
			<p>No posts are available.</p>
			{% endif %}


		</div>

	</div>
</div>

{% else %} {% endif %} {% endblock %}


{% block right-nav %} 
<div class="side-nav right-nav">
	<div class="calender">
	{{ calendar }}
	</div>
</div>
{% endblock %}