<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>IUT Online</title>
	<!-- Core CSS - Include with every page -->
	{% load static %}
	<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'social/css/styles.css' %}" rel="stylesheet">
</head>

<body>
	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
					<a class="navbar-brand" href="#">Islamic University of Technology</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<ul class="nav navbar-nav">
                        {% if perms.groups %}
						<li><a>An item</a></li>
                        {% endif %}
						<li><a>An item2</a></li>
					</ul>
					{% if user %}
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" id="notifications" data-container="body" data-toggle="popover" data-placement="bottom" title="Notifications">
								<span class="glyphicon glyphicon-bell"></span>
							</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.first_name}}
                                <span class="caret"></span>
                            </a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{% url 'home' %}">home</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#">Separated link</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="logout">Logout</a>
								</li>
							</ul>
						</li>
					</ul>
					{%endif%}
				</div>
			</div>
		</nav>
	</header>

	<div class="main-container">
		<!--<nav class="side-nav">
            <li></li>
        </nav>-->
		{% block content %} {% endblock %}
		<!--<nav class="side-nav">
        </nav>-->
	</div>


	<!-- Core Scripts - Include with every page -->
	<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script> {% block javascript %}
	<script>
            {% if not user.is_authenticated %}
                $("ul.nav.navbar-nav.navbar-right").css("display","none");
            {% endif %}
        </script> {% endblock %}


</body>

</html>